In [1]:
x = 5
print(type(x))

<class 'int'>

In [3]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [4]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [9]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [10]:
import random

print(random.randrange(1, 10))

4

In [11]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [12]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [13]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [14]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [15]:
a = "Hello"
print(a)

Hello

In [16]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [17]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [18]:
a = "Hello, World!"
print(a[1])

e

In [19]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [20]:
a = "Hello, World!"
print(len(a))

13

In [21]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [22]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [23]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [24]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [25]:
b = "Hello, World!"
print(b[2:5])

llo

In [26]:
b = "Hello, World!"
print(b[:5])

Hello

In [27]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [28]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [29]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [30]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [32]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [33]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [34]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [35]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [36]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [37]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [38]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [39]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [40]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [41]:
txt = "We are the so-called \"Vikings\" from the north."