In [302]:
import numpy as np
print(np.__version__)

2.4.1

In [303]:
import pandas as pd
print(pd.__version__)

2.3.3

In [304]:
from pandas import Series

In [305]:
obj = Series([4, 5, 6, 6-5])

In [306]:
type(obj)

pandas.core.series.Series

In [307]:
print(obj)

0    4
1    5
2    6
3    1
dtype: int64

In [308]:
obj.values

array([4, 5, 6, 1])

In [309]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [310]:
obj[0]

np.int64(4)

In [311]:
obj2=Series([6, 3, 2, 1], index=['a', 'b', 'c', 'd'])

In [312]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [313]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [314]:
obj2['a']

np.int64(6)

In [315]:
obj2['c']

np.int64(2)

In [316]:
obj2[['a', 'b', 'c']]

a    6
b    3
c    2
dtype: int64

In [317]:
obj2[['a', 'a', 'a']]

a    6
a    6
a    6
dtype: int64

In [318]:
obj2['b']

np.int64(3)

In [319]:
obj2[obj2>1]

a    6
b    3
c    2
dtype: int64

In [320]:
obj2*2

a    12
b     6
c     4
d     2
dtype: int64

In [321]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [322]:
np.exp(obj2)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
dtype: float64

In [323]:
obj2['a']

np.int64(6)

In [324]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [325]:
cars_dict = {
    'Malibu':40000, 'Lacetti':20000,
    'Toyota':45000, 'Mazda':52000, 'Honda':38000
      }

In [326]:
type(cars_dict)

dict

In [327]:
cars1 = Series(cars_dict)

In [328]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [329]:
type(cars1)

pandas.core.series.Series

In [330]:
cars1 = Series({
    'Malibu':40000, 'Lacetti':20000,
    'Toyota':45000, 'Mazda':52000, 'Honda':38000
      })

In [331]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [332]:
'Malibu' in cars1

True

In [333]:
'BMW' in cars1

False

In [334]:
cars1['Toyota']

np.int64(45000)

In [335]:
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [336]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota']

In [337]:
cars2 = Series(cars_dict, index=models)

In [338]:
cars2

Honda      38000.0
Mazda      52000.0
Lacetti    20000.0
Jaguar         NaN
Malibu     40000.0
Toyota     45000.0
dtype: float64