In [33]:
import pandas as pd
import numpy as np
from pprint import pprint as print

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [35]:
df.shape

(13119, 9)

In [36]:
# Df ustunlari tarkibi haqida ma'lumot
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13119 non-null  object
 1   year          13119 non-null  int64
 2   price         13119 non-null  int64
 3   transmission  13119 non-null  object
 4   mileage       13119 non-null  int64
 5   fuelType      13119 non-null  object
 6   tax           13119 non-null  int64
 7   mpg           13119 non-null  float64
 8   engineSize    13119 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 922.6+ KB

In [37]:
# DF sonli ustunlari haqida statistik ma'lumot
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000
mean,2017.296288,24698.596920,21949.559037,129.972178,55.155843,2.071530
std,2.224709,11842.675542,21176.512267,65.260286,15.220082,0.572426
min,1970.000000,650.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,17450.000000,6097.500000,125.000000,45.600000,1.800000
50%,2018.000000,22480.000000,15189.000000,145.000000,56.500000,2.000000
75%,2019.000000,28980.000000,31779.500000,145.000000,64.200000,2.100000
max,2020.000000,159999.000000,259000.000000,580.000000,217.300000,6.200000

In [38]:
data = {
    'age':[10,20,30,40,50,60],
    'year':[2010,2000,1990,1980,1970,1960],
}

obj = pd.DataFrame(data)

In [39]:
obj['age'].corr(obj['year'])

np.float64(-0.9999999999999998)

In [40]:
df['year'].corr(df['mileage'])

np.float64(-0.7380268515364226)

In [41]:
df.corr(numeric_only=True)

                year     price   mileage       tax       mpg  engineSize
year        1.000000  0.520712 -0.738027  0.012480 -0.094626   -0.142147
price       0.520712  1.000000 -0.537214  0.268717 -0.438445    0.516126
mileage    -0.738027 -0.537214  1.000000 -0.160223  0.202850    0.063652
tax         0.012480  0.268717 -0.160223  1.000000 -0.513742    0.338341
mpg        -0.094626 -0.438445  0.202850 -0.513742  1.000000   -0.339862
engineSize -0.142147  0.516126  0.063652  0.338341 -0.339862    1.000000

In [42]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [43]:
elements = obj.unique()
elements

array(['c', 'a', 'd', 'b'], dtype=object)

In [44]:
elements.sort()

In [45]:
elements

array(['a', 'b', 'c', 'd'], dtype=object)

In [46]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [47]:
models = df['model'].unique()
models.sort()
print(models)

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [48]:
engine = df['engineSize'].unique()
engine.sort()
print(engine)

array([0. , 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 2. , 2.1, 2.2, 2.3, 2.5, 2.7,
       2.9, 3. , 3.2, 3.5, 3.7, 4. , 4.3, 4.7, 5. , 5.4, 5.5, 6. , 6.2])

In [49]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [50]:
obj.value_counts()

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [51]:
pd.value_counts(obj.values, sort=True)

C:\Users\user\AppData\Local\Temp\ipykernel_1388\442226650.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(obj.values, sort=True)

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [52]:
df['model'].value_counts()

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: count, dtype: int64

In [53]:
df['year'].value_counts()

year
2019    4553
2017    2381
2016    1971
2018    1467
2015     991
2020     719
2014     491
2013     292
2012      57
2010      38
2011      38
2007      22
2009      17
2008      16
2004      13
2001      10
2005       9
2002       9
2006       8
2003       7
1998       4
2000       3
1997       1
1999       1
1970       1
Name: count, dtype: int64

In [54]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [55]:
df['transmission'].value_counts()

transmission
Semi-Auto    6848
Automatic    4825
Manual       1444
Other           2
Name: count, dtype: int64

In [56]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [57]:
# Quyidagi ikki modelni filtrlab olish uchun mask (filtr) yaratamiz
models = [' SLK', ' M Class']
mask = df['model'].isin(models)
mask

0         True
1        False
2        False
3        False
4        False
         ...
13114    False
13115    False
13116    False
13117    False
13118    False
Name: model, Length: 13119, dtype: bool

In [58]:
df[mask]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
40,SLK,2014,15990,Automatic,43955,Petrol,205,43.5,1.8
52,SLK,2004,4890,Automatic,46000,Petrol,330,28.0,3.5
58,SLK,2008,5980,Automatic,60000,Petrol,280,34.4,1.8
71,M Class,2008,5990,Automatic,110000,Diesel,555,28.8,3.0
...,...,...,...,...,...,...,...,...,...
12959,M Class,2009,9990,Automatic,59000,Diesel,555,30.4,3.0
12960,SLK,2012,10990,Automatic,55000,Petrol,200,43.5,1.8
13007,M Class,2012,14400,Automatic,61898,Diesel,300,39.2,3.0
13010,SLK,2015,13400,Manual,47003,Petrol,205,41.5,1.8
13108,SLK,2016,17499,Automatic,30128,Diesel,30,70.6,2.1

In [59]:
df[df.year>2017]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
6,GLE Class,2018,30948,Automatic,16000,Diesel,145,47.9,2.1
8,G Class,2019,139948,Automatic,12000,Petrol,145,21.4,4.0
10,A Class,2020,32980,Automatic,606,Petrol,145,35.8,2.0
11,A Class,2020,26980,Automatic,1000,Diesel,145,62.8,1.5
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [60]:
df[df.transmission=='Manual']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
34,A Class,2019,23184,Manual,1173,Petrol,145,44.8,1.3
56,A Class,2011,3440,Manual,74000,Diesel,150,54.3,2.0
61,E Class,2010,6980,Manual,79000,Petrol,300,35.3,1.8
63,E Class,2011,5740,Manual,115000,Diesel,160,52.3,2.1
81,SLK,2010,7495,Manual,59147,Petrol,300,36.2,1.8
...,...,...,...,...,...,...,...,...,...
13011,V Class,2013,20000,Manual,58518,Diesel,305,38.7,2.1
13014,B Class,2017,13950,Manual,5878,Diesel,20,68.9,1.5
13015,GLA Class,2017,17000,Manual,26000,Petrol,145,48.7,1.6
13024,A Class,2016,16500,Manual,16984,Diesel,30,62.8,2.1
13034,A Class,2017,13391,Manual,38172,Diesel,145,72.4,1.5

In [61]:
#HOMEWORK

In [62]:
import pandas as pd
import numpy as np

In [63]:
data = {
    'Ism': ['Ali', 'Vali', 'Gulbahor', 'Madina', 'Jasur', 'Diyor', 'Shahlo'],
    'Yosh': [25, 30, 22, 28, 35, 27, 24],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Namangan', 'Farg‘ona', 'Andijon', 'Qarshi']
}

DF = pd.DataFrame(data)
print(DF.head(6))

        Ism  Yosh     Shahar
0       Ali    25   Toshkent
1      Vali    30  Samarqand
2  Gulbahor    22     Buxoro
3    Madina    28   Namangan
4     Jasur    35   Farg‘ona
5     Diyor    27    Andijon

In [64]:
data = {
    'Ism': ['Ali', 'Vali', 'Gulbahor', 'Madina', 'Jasur', 'Diyor', 'Shahlo'],
    'Yosh': [25, 30, 22, 28, 35, 27, 24],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Namangan', 'Farg‘ona', 'Andijon', 'Qarshi']
}

DF = pd.DataFrame(data)

print(DF.tail(5))

        Ism  Yosh    Shahar
2  Gulbahor    22    Buxoro
3    Madina    28  Namangan
4     Jasur    35  Farg‘ona
5     Diyor    27   Andijon
6    Shahlo    24    Qarshi

In [65]:
data = {
    'Ism': ['Ali', 'Vali', 'Gulbahor', 'Madina', 'Jasur', 'Diyor', 'Shahlo'],
    'Yosh': [25, 30, 22, 28, 35, 27, 24],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Namangan', 'Farg‘ona', 'Andijon', 'Qarshi'],
    'year': [2020, 2018, 2021, 2019, 2022, 2017, 2023]  # yil ustuni
}

DF = pd.DataFrame(data)
DF_sorted = DF.sort_values(by='year')

print(DF_sorted)

        Ism  Yosh     Shahar  year
5     Diyor    27    Andijon  2017
1      Vali    30  Samarqand  2018
3    Madina    28   Namangan  2019
0       Ali    25   Toshkent  2020
2  Gulbahor    22     Buxoro  2021
4     Jasur    35   Farg‘ona  2022
6    Shahlo    24     Qarshi  2023

In [66]:
data = {
    'Mahsulot': ['Olma', 'Banan', 'Apelsin', 'Uzum', 'Anor'],
    'Narx': [5000, 3000, 7000, 4500, 6000]
}

DF = pd.DataFrame(data)

DF['Reyting'] = DF['Narx'].rank(method='min')  
DF_sorted = DF.sort_values(by='Narx')

print(DF_sorted)

  Mahsulot  Narx  Reyting
1    Banan  3000      1.0
3     Uzum  4500      2.0
0     Olma  5000      3.0
4     Anor  6000      4.0
2  Apelsin  7000      5.0

In [67]:
data = {
    'Mashina': ['BMW', 'Mercedes', 'Toyota', 'Audi', 'Lexus'],
    'Narx': [50000, 75000, 30000, 65000, 70000]
}

DF = pd.DataFrame(data)
eng_qimmat = DF.loc[DF['Narx'].idxmax()]

print("Eng qimmat mashina haqida ma'lumot:")
print(eng_qimmat)

"Eng qimmat mashina haqida ma'lumot:"
Mashina    Mercedes
Narx          75000
Name: 1, dtype: object

In [68]:
data = {
    'Mashina': ['BMW', 'Mercedes', 'Toyota', 'Audi', 'Lexus'],
    'km_driven': [50000, 75000, 120000, 65000, 70000]
}

DF = pd.DataFrame(data)
eng_ko_p_yurgan = DF.loc[DF['km_driven'].idxmax()]

print("Eng ko'p yurgan mashina haqida ma'lumot:")
print(eng_ko_p_yurgan)

"Eng ko'p yurgan mashina haqida ma'lumot:"
Mashina      Toyota
km_driven    120000
Name: 2, dtype: object

In [69]:
data = {
    'brand': ['BMW', 'Mercedes', 'Toyota', 'Audi', 'Lexus', 'BMW', 'Toyota', 'Audi', 'Mercedes'],
    'Narx': [50000, 75000, 30000, 65000, 70000, 52000, 32000, 67000, 77000]
}

DF = pd.DataFrame(data)


brand_soni = DF['brand'].value_counts()

print("Brandlar va ularning soni:")
print(brand_soni)

'Brandlar va ularning soni:'
brand
BMW         2
Mercedes    2
Toyota      2
Audi        2
Lexus       1
Name: count, dtype: int64

In [70]:
data = {
    'brand': ['BMW', 'Mercedes', 'Toyota', 'Audi', 'Lexus'],
    'Narx': [50000, 75000, 30000, 65000, 70000],
    'km_driven': [50000, 75000, 120000, 65000, 70000],
    'Yosh': [3, 5, 2, 4, 3]
}

DF = pd.DataFrame(data)

statistika = DF.describe()

print("Raqamli ustunlar bo'yicha statistik ko'rsatkichlar:")
print(statistika)

"Raqamli ustunlar bo'yicha statistik ko'rsatkichlar:"
               Narx      km_driven      Yosh
count      5.000000       5.000000  5.000000
mean   58000.000000   76000.000000  3.400000
std    18234.582529   26315.394734  1.140175
min    30000.000000   50000.000000  2.000000
25%    50000.000000   65000.000000  3.000000
50%    65000.000000   70000.000000  3.000000
75%    70000.000000   75000.000000  4.000000
max    75000.000000  120000.000000  5.000000

In [71]:
data = {
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Lexus', 'Ford'],
    'Mashina': ['X5', 'Mustang', 'Camry', 'Focus', 'A6', 'RX350', 'Explorer'],
    'Narx': [50000, 40000, 30000, 25000, 65000, 70000, 45000],
    'km_driven': [50000, 60000, 120000, 80000, 65000, 70000, 90000]
}

DF = pd.DataFrame(data)

ford_mashinalari = DF[DF['brand'] == 'Ford']

print("Ford kompaniyasining barcha mashinalari:")
print(ford_mashinalari)

'Ford kompaniyasining barcha mashinalari:'
  brand   Mashina   Narx  km_driven
1  Ford   Mustang  40000      60000
3  Ford     Focus  25000      80000
6  Ford  Explorer  45000      90000

In [72]:
data = {
    'brand': ['BMW', 'Nissan', 'Toyota', 'Nissan', 'Audi', 'Nissan', 'Ford'],
    'Mashina': ['X5', 'Altima', 'Camry', '370Z', 'A6', 'Maxima', 'Mustang'],
    'Narx': [50000, 35000, 30000, 45000, 65000, 40000, 40000],
    'km_driven': [50000, 70000, 120000, 50000, 65000, 60000, 60000]
}

DF = pd.DataFrame(data)

nissan_mashinalari = DF[DF['brand'] == 'Nissan']

eng_qimmat = nissan_mashinalari.loc[nissan_mashinalari['Narx'].idxmax()]

eng_arzon = nissan_mashinalari.loc[nissan_mashinalari['Narx'].idxmin()]

print("Nissan kompaniyasining eng qimmat mashinasi:")
print(eng_qimmat)
print("\nNissan kompaniyasining eng arzon mashinasi:")
print(eng_arzon)

'Nissan kompaniyasining eng qimmat mashinasi:'
brand        Nissan
Mashina        370Z
Narx          45000
km_driven     50000
Name: 3, dtype: object
'\nNissan kompaniyasining eng arzon mashinasi:'
brand        Nissan
Mashina      Altima
Narx          35000
km_driven     70000
Name: 1, dtype: object

In [73]:
data = {
    'brand': ['BMW', 'Chevrolet', 'Toyota', 'Chevrolet', 'Audi', 'Chevrolet', 'Ford'],
    'Mashina': ['X5', 'Cruze', 'Camry', 'Malibu', 'A6', 'Impala', 'Mustang'],
    'Narx': [50000, 20000, 30000, 25000, 65000, 30000, 40000],
    'km_driven': [50000, 60000, 120000, 80000, 65000, 90000, 60000]
}

DF = pd.DataFrame(data)


chevrolet_modellari = DF[DF['brand'] == 'Chevrolet']['Mashina']

print("Chevrolet kompaniyasining barcha modellar:")
print(chevrolet_modellari)

'Chevrolet kompaniyasining barcha modellar:'
1     Cruze
3    Malibu
5    Impala
Name: Mashina, dtype: object

In [74]:
data = {
    'Mashina': ['BMW', 'Mercedes', 'Toyota', 'Audi', 'Lexus'],
    'Narx': [50000, 75000, 30000, 65000, 70000],
    'year': [2020, 2018, 2021, 2019, 2022]
}

DF = pd.DataFrame(data)

korrelyasiya = DF['Narx'].corr(DF['year'])

print("Mashina narxi va yili o'rtasidagi korrelyasiya:")
print(korrelyasiya)

"Mashina narxi va yili o'rtasidagi korrelyasiya:"
np.float64(-0.39019948628585405)

In [75]:
data = {
    'brand': ['BMW', 'Kia', 'Toyota', 'Hyundai', 'Audi', 'Kia', 'Hyundai', 'Ford'],
    'Mashina': ['X5', 'Sportage', 'Camry', 'Elantra', 'A6', 'Sorento', 'Tucson', 'Mustang'],
    'Narx': [50000, 20000, 30000, 25000, 65000, 22000, 27000, 40000],
    'km_driven': [50000, 60000, 120000, 80000, 65000, 70000, 75000, 60000]
}

DF = pd.DataFrame(data)

kia_hyundai = DF[DF['brand'].isin(['Kia', 'Hyundai'])]

print("Kia va Hyundai mashinalari:")
print(kia_hyundai)

'Kia va Hyundai mashinalari:'
     brand   Mashina   Narx  km_driven
1      Kia  Sportage  20000      60000
3  Hyundai   Elantra  25000      80000
5      Kia   Sorento  22000      70000
6  Hyundai    Tucson  27000      75000

In [76]:
data = {
    'brand': ['BMW', 'Chevrolet', 'Toyota', 'Chevrolet', 'Audi', 'Chevrolet', 'Ford'],
    'Mashina': ['X5', 'Cruze', 'Camry', 'Malibu', 'A6', 'Impala', 'Mustang'],
    'Narx': [50000, 20000, 30000, 25000, 65000, 30000, 40000],
    'km_driven': [50000, 60000, 120000, 80000, 65000, 90000, 60000]
}

DF = pd.DataFrame(data)

chevrolet_tanlangan = DF[(DF['brand'] == 'Chevrolet') & (DF['Mashina'].isin(['Malibu', 'Impala']))]

print("Chevrolet kompaniyasining Malibu va Impala modellari:")
print(chevrolet_tanlangan)

'Chevrolet kompaniyasining Malibu va Impala modellari:'
       brand Mashina   Narx  km_driven
3  Chevrolet  Malibu  25000      80000
5  Chevrolet  Impala  30000      90000

In [77]:
data = {
    'brand': ['BMW', 'Ford', 'Ford', 'Ford', 'Audi'],
    'Mashina': ['X5', 'Mustang', 'Mustang', 'Focus', 'A6'],
    'Narx': [50000, 40000, 45000, 25000, 65000],
    'year': [2019, 2017, 2020, 2018, 2019],
    'km_driven': [50000, 60000, 55000, 70000, 65000]
}

DF = pd.DataFrame(data)


ford_mustang = DF[(DF['brand'] == 'Ford') & (DF['Mashina'] == 'Mustang')]


mustang_2018_keyin = ford_mustang[ford_mustang['year'] > 2018]

ortacha_narx = mustang_2018_keyin['Narx'].mean()

print("2018-yildan keyin chiqqan Mustang mashinalarining o'rtacha narxi:")
print(ortacha_narx)

"2018-yildan keyin chiqqan Mustang mashinalarining o'rtacha narxi:"
np.float64(45000.0)

In [78]:
data = {
    'brand': ['BMW', 'Ford', 'Ford', 'Ford', 'Audi'],
    'Mashina': ['X5', 'Mustang', 'Mustang', 'Focus', 'A6'],
    'Narx': [50000, 40000, 45000, 25000, 65000],
    'year': [2019, 2017, 2020, 2018, 2019],
    'km_driven': [50000, 60000, 55000, 70000, 65000]
}

DF = pd.DataFrame(data)

mustang_df = DF[DF['Mashina'] == 'Mustang']


statistika = mustang_df.describe()

print("Mustang mashinalari haqida umumlashgan statistika:")
print(statistika)

'Mustang mashinalari haqida umumlashgan statistika:'
               Narx        year     km_driven
count      2.000000     2.00000      2.000000
mean   42500.000000  2018.50000  57500.000000
std     3535.533906     2.12132   3535.533906
min    40000.000000  2017.00000  55000.000000
25%    41250.000000  2017.75000  56250.000000
50%    42500.000000  2018.50000  57500.000000
75%    43750.000000  2019.25000  58750.000000
max    45000.000000  2020.00000  60000.000000

In [79]:
data = {
    'brand': ['Ford', 'BMW', 'Ford', 'Ford', 'Audi', 'Ford', 'Toyota'],
    'Mashina': ['Mustang', 'X5', 'Focus', 'Explorer', 'A6', 'Fusion', 'Camry'],
    'year': [2019, 2018, 2019, 2020, 2019, 2019, 2021],
    'Narx': [40000, 50000, 25000, 45000, 65000, 30000, 30000]
}

DF = pd.DataFrame(data)

ford_df = DF[DF['brand'] == 'Ford']

eng_kop_yil = ford_df['year'].mode()[0]

print("Sotuvdagi Ford mashinalarining aksari qaysi yilda chiqarilgan?")
print(eng_kop_yil)

'Sotuvdagi Ford mashinalarining aksari qaysi yilda chiqarilgan?'
np.int64(2019)

In [1]:
! git clone https://github.com/anvarnarz/praktikum_datasets

"git" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.