In [23]:
import numpy as np
import pandas as pd

In [24]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [25]:
# Quyida O'zbekiston Respublikasini maydoni va aholisis sonini ko'rishimiz mumkin
df.sum()

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [26]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [27]:
# Quyida esa 2020 va 2021 yilda GM Uzbekistan tomonidan jami sotilgan moshinalar sonini ko'rishimiz mumkin
df2.sum()

2020    168712
2021    124734
dtype: int64

In [28]:
df2.sum(axis=1) # yoki axis='columns'

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [29]:
df2.mean(axis=1)

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [30]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [31]:
df.idxmin()

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [32]:
df.idxmax()

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [33]:
df['maydoni'].argmax()

np.int64(8)

In [34]:
df['aholisi'].argmin()

np.int64(10)

In [35]:
df2

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317
Gentra  30368  26266

In [36]:
df2.idxmin()

2020     Labo
2021    Spark
dtype: object

In [37]:

df2.idxmin()

2020     Labo
2021    Spark
dtype: object

In [38]:
print(df['aholisi'].idxmax(), 'aholisi', df['aholisi'].max())

Toshkent viloyati aholisi 4450000.0

In [39]:
print(df['maydoni'].idxmax())
print(df['maydoni'].max())

Qoraqalpogʻiston Respublikasi
160000.0